[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = '*'
Flask-Login = '*'
Flask-SQLAlchemy = '*'
flask_bcrypt = '*'
python-dotenv = "*"
email-validator = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
